HandyUpdater/Web References/UpdaterWebReference/UpdaterWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/Handy/UpdaterWebService.asmx" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/Handy/UpdaterWebService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/Handy/UpdaterWebService.asmx">
      <s:element name="GetUpdateInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="major" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minor" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="build" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revision" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateInfoResult" type="tns:UpdateInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAvailable" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="newVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUpdateInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateInfo" />
  </wsdl:message>
  <wsdl:message name="GetUpdateInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdaterWebServiceSoap">
    <wsdl:operation name="GetUpdateInfo">
      <wsdl:input message="tns:GetUpdateInfoSoapIn" />
      <wsdl:output message="tns:GetUpdateInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdaterWebServiceSoap" type="tns:UpdaterWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateInfo">
      <soap:operation soapAction="http://localhost/Handy/UpdaterWebService.asmx/GetUpdateInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdaterWebServiceSoap12" type="tns:UpdaterWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUpdateInfo">
      <soap12:operation soapAction="http://localhost/Handy/UpdaterWebService.asmx/GetUpdateInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdaterWebService">
    <wsdl:port name="UpdaterWebServiceSoap" binding="tns:UpdaterWebServiceSoap">
      <soap:address location="http://localhost:81/Handy/UpdaterWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdaterWebServiceSoap12" binding="tns:UpdaterWebServiceSoap12">
      <soap12:address location="http://localhost:81/Handy/UpdaterWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>